<div class="max-w-screen-xl m-auto p-4 mt-40" id="mytools">
  <h2
    class="text-4xl text-gray-700 font-semibold tracking-tighter text-center pb-20"
  >
    <span class="text-emerald-500"> Toolkit</span>
  </h2>
  <div class="grid gap-4 grid-cols-5 md:grid-cols-5 place-items-center">
    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://opensource-portfolio.netlify.app/assets/images/skills/next-js.webp"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://opensource-portfolio.netlify.app/assets/images/skills/react.webp"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://seeklogo.com/images/A/astro-logo-B3B4DABB0A-seeklogo.com.png"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://opensource-portfolio.netlify.app/assets/images/skills/typescript.webp"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://opensource-portfolio.netlify.app/assets/images/skills/git.webp"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://opensource-portfolio.netlify.app/assets/images/skills/html.webp"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/320px-Tailwind_CSS_Logo.svg.png"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://opensource-portfolio.netlify.app/assets/images/skills/js.webp"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/2560px-Node.js_logo_2015.svg.png"
        alt=""
      />
    </div>

    <div class="bg-[white] md:p-8 rounded-3xl">
      <img
        src="https://cdn-icons-png.flaticon.com/256/5968/5968364.png"
        alt=""
      />
    </div>
  </div>
</div>
