---
import { Image } from "astro:assets";
import Memonji from "./../../public/img/memonji.png";
import { Icon } from "astro-icon/components";
---

<div
  class="max-w-screen-xl m-auto flex items-center p-4 h-screen animate-fade-down animate-normal"
  id="hero"
>
  <div class="flex flex-col gap-4">
    <!-- <Image src={Memonji} alt="" class="mb-[-60px]" /> -->
    <h1
      class="max-w-screen-lg text-5xl md:text-7xl text-gray-700 font-semibold tracking-tighter z-10"
    >
      Haciendo tus <span class="text-emerald-500">Conceptos</span> en Realidades
      ✨
    </h1>
    <h2
      class="max-w-screen-lg text-base md:text-3xl font-light text-gray-700 tracking-tighter"
    >
      Desarrollador web entusiasta, con experiencia amplia en desarrollo web &
      product design.
    </h2>
    <div class="flex flex-col md:flex-row gap-4">
      <a href="#projects" rel="noopener noreferrer"
        ><button
          class="p-3 rounded-full flex items-center gap-2 outline outline-[0.5px] font-semibold animate-pulse animate-normal"
        >
          Mis Proyectos <Icon name="home/building" class="text-2xl" /></button
        ></a
      >

      <a
        href="../../../public/HV_NicolasRiveraMora.pdf"
        download="HV_NicolasRiveraMora.pdf"
        rel="noopener noreferrer"
        class="flex flex-col md:flex-row gap-2"
        ><button class="flex items-center gap-2"
          >Descargar HV <Icon name="home/cv" class="text-2xl" />
        </button></a
      >
    </div>
  </div>
</div>
