---
import Hero from "../../components/Hero/en/Hero.astro";
import Projects from "../../components/Projects.astro";
import MyTools from "../../components/MyTools.astro";
import Testimonials from "../../components/Testimonials.astro";
import Layout from "../../layouts/Layout.astro";
import Questions from "../../components/Questions.astro";
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import { GoogleAnalytics } from "astro-analytics";

---

<Layout title="Nicolás Mora | Frontend Developer and UI/UX Designer">
  <GoogleAnalytics id="G-MWGRN6YVJX" />
  <main>
    <Hero />
    <Projects />
    <MyTools />
    <Testimonials />
    <Questions />
    <Contact />
    <Footer />
  </main>
</Layout>
