---
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import MyTools from "../components/MyTools.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nicolás | Desarrollador Frontend, Diseñador web">
  <main>
    <Hero />
    <Projects />
    <MyTools />
    <Testimonials />
  </main>
</Layout>
