---
import Header from "../components/Header/Header.astro";
import Hero from "../components/Hero/Hero.astro";
import Projects from "../components/Projects/Projects.astro";
import MyTools from "../components/MyTools/MyTools.astro";
import Testimonials from "../components/Testimonials/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import Questions from "../components/Questions/Questions.astro";
import Contact from "../components/Contact/Contact.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar/SideBar.astro";
import { GoogleAnalytics } from "astro-analytics";
---

<Layout title="Nicolás | Desarrollador Frontend, Diseñador web">
  <GoogleAnalytics id="G-MWGRN6YVJX" />
  <main class="grid grid-cols-1 md:grid-cols-[20%_1fr] gap-5 max-w-7xl m-auto">
    <div class="hidden md:block">
      <SideBar />
    </div>
    <div class="relative ">
      <Header />
      <Hero />
      <Projects />
      <MyTools />
      <Testimonials />
      <Questions />
      <Contact />
      <Footer />
    </div>
  </main>
</Layout>
