---
import { Icon } from "astro-icon/components";
import bagette from "./../../src/icons/questions/bagette.svg";
---

<div class="flex justify-between px-10 md:px-20 py-4">
  <div>2024 | Nicolás Mora</div>
  <a
    href="http://www.linkedin.com/in/nicolas-rivera-mora"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div>
      <div class="flex items-center gap-2">
        <Icon name="questions/bagette" /> LinkedIn
      </div>
    </div></a
  >
</div>
