<div class="grid place-content-center h-screen">
    <div class="p-72 text-center flex flex-col gap-4">
        <h1 class="text-7xl text-gray-700 font-semibold tracking-tighter">Haciendo tus <span class="text-emerald-500">Conceptos </span>en Realidades ✨</h1>
        <h2 class="text-3xl font-light text-gray-700 tracking-tighter">Eleva tu presencia online con experiencia en UI/UX para obtener las mejores experiencias.</h2>
    </div>
</div>